= form_for [@forum, @topic] do |f|
  -if @topic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @topic.errors.full_messages.each do |msg|
          %li= msg

  .title
    .left= f.label :title
    .left= f.text_field :title
    .clear
  = f.text_area :content, :class => "kind_editor", :id => "kind_editor"
  = f.submit 'Save'

= render "assets/upload_tool"
= render "shared/editor"

